certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cheroot==8.3.1
gevent==20.6.2
greenlet==0.4.16
idna==2.10
jaraco.functools==3.0.1
lxml==4.9.1
more-itertools==8.4.0
psutil==5.7.2
pycparser==2.20
pytz==2020.1
redis==3.5.3
requests==2.24.0
six==1.15.0
SQLAlchemy==1.3.18
urllib3==1.26.5
web.py==0.51
zope.event==4.4
zope.interface==5.1.0
